.error_msg p {
	color:red;
}
.result_section{
	border:0.5px dotted;
	min-height:200px;
}
.result_rate h3{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
input[type=text] { text-transform: uppercase; }
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    background: #19364e;
    color: #fff;
    border-right: 1px solid #ccc;
    text-align: center;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #f1f1f1;
}
.form-s .col-md-4
{
	    background: #fbfbfb;
    box-shadow: -1px 0px 6px #e6e6e6;
    padding: 20px;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin-left: -30px;
}
.form-s
{
	padding:30px 0px;
}